<nav class="navbar navbar-expand-lg">

  <button class="navbar-toggler" style="margin-left: 15px" type="button" (click)="navbarOpen = !navbarOpen">
    <mat-icon>menu</mat-icon>
  </button>


  <div class="collapse navbar-collapse mt-2" [ngClass]="{ 'show': navbarOpen }"
    [ngClass.gt-md]="'d-flex justify-content-center'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(sobreNosotros)">Sobre nosotros</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(method)">Método de Trabajo</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(ourServices)">Servicios</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(team)">Equipo</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(pricing)">Precios</p>
      </li>
      <li class=" nav-item">
        <p class="nav-link styleNav" (click)="scroll(faq)">Preguntas frecuentes</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(newEmail)">Contacto</p>
      </li>
    </ul>
  </div>
</nav>
<section id="hero" class="d-flex align-items-center min-vh-100" (mouseenter)="mouseIn = true"
  (mouseleave)="mouseIn = false"
  style="background-image: url('https://wallpapers.com/images/hd/white-abstract-hexagons-wshg1akmqzklnrmo.jpg'); background-size: auto; background-repeat: no-repeat;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">NINEGON</h1>
        <h2 data-aos="fade-up">Páginas web y desarrollos a medida.</h2>
        <!-- <div data-aos="fade-up" >
              <a class="btn-get-started scrollto" [routerLink]="'/clients'">Go to San Fran</a>
            </div> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" #image>
        <img src="assets/images/welcome/hero.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<!-- <mat-card>hola</mat-card> -->
<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" #sobreNosotros>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Sobre nosotros</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            Somos una empresa que se dedica a tiempo completo a la creación de <strong>páginas web y software a
              medida</strong>.
          </p>
          <p>
            <strong>La cercanía al cliente</strong> es nuestro principal valor, porque creemos que una buena relación
            personal y de confianza es fundamental para un trabajo profesional y eficiente.<br>
          </p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            Trabajamos con las últimas tecnologías del mercado para asegurar la <strong>máxima accesibilidad, seguridad
              y productividad</strong> de nuestros desarrollos para su empresa.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <!-- <div class="container">

      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
          data-aos="fade-right">
          <img src="assets/images/welcome/services/webamedida.png" alt="" class="img-fluid">
        </div>

        <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-document-folder"></i>
                  <span data-toggle="counter-up">+4</span>
                  <p>Más de <strong>4 años</strong> de experiencia en el sector</p>
                </div>
              </div>
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-simple-smile"></i>
                  <span data-toggle="counter-up">+10</span>
                  <p>Más de <strong>10 clientes</strong> confian en nuestros servicios</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div> -->
  </section><!-- End Counts Section -->

  <!-- ======= Work method Section ======= -->
  <section class="services" #method>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Método de trabajo</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-paint-brush"></i></div>
            <h4 class="title">PLANIFICAMOS EL DISEÑO</h4>
            <p class="description"> Se realizará una primera reunión comprendiendo sus objetivos comerciales y los
              requisitos específicos del proyecto.</p>
            <p class="description"> Tras esta reunión se realizará un diseño con datos no reales ajustandonos a la idea
              proyectada.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-object-group"></i></div>
            <h4 class="title">CREACIÓN DE LA INFRAESTRUCTUA</h4>
            <p class="description">Estudiamos la arquitectura para maquetar la creación de base de datos si fuese
              necesario, el diseño y la estructura de las páginas visuales y APIs necesarias. Todo esto bajo los axiomas
              de confidencialidad, integridad, disponibilidad, autenticación y no repudio.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-cogs"></i></div>
            <h4 class="title">BACKEND y FRONTEND
            </h4>
            <p class="description">Nuestro mayor propósito es una aplicación sin fallos, por ello, nos aseguramos que
              toda la infraestructura de la aplicación pase
              por un estricto control antes de su entrega y puesta en producción. Nuestros desarrolladores tienen la
              capacidad de hacerse cargo de toda la infraestructura.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title">COBERTURA Y SOPORTE</h4>
            <p class="description">Damos soporte a nuestras aplicaciones y webs mediante el periodo acordado. Además,
              estaremos siempre dispuestos a resolver dudas tanto técnicas como de funcionamiento en cualquiera de
              nuestros servicios.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Work method Section -->

  <!-- <div class="text-center mt-2 mb-5"><button mat-flat-button color="primary" (click)="scroll(newEmail)">¡Quiero ser el
      próximo cliente!</button></div> -->

  <!-- ======= More Services Section ======= -->
  <section id="more-services" class="more-services" #ourServices>
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Servicios</h2>
      </div>

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" (click)="scroll(web)">
          <div class="card"
            style='background-image: url("https://wellaggio.com/wp-content/uploads/2018/01/Wellaggio-diseno-web-valencia-Co%CC%81mo-seducir-a-tus-clientes-con-tu-pa%CC%81gina-web.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Diseño y Desarrollo Web</h5>

            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" (click)="scroll(projects)">
          <div class="card"
            style='background-image: url("https://www.comparapps.com/wp-content/uploads/2019/08/Como-Crear-Una-Pagina-Web.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Desarrollo de Proyectos a Medida</h5>
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" (click)="scroll(bills)">
          <div class="card" style='background-image: url("assets/images/welcome/services/facturacion.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Software de Facturación Personalizado</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" (click)="scroll(shipments)">
          <div class="card"
            style='background-image: url("https://www.scmlogistica.es/wp-content/uploads/Automatizar-un-almace%CC%81n.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Software de Gestión Logístico y Envíos</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End More Services Section -->


  <section id="about" class="about" #web>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Diseño y Desarrollo Web</h2>
        <p>Desde un diseño web básico como landing pages, hasta webs más complejas, como webs de CRM o facturación.</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>
            Tener <strong>presencia en internet</strong> hoy en dia es muy importante para aumentar sus ventas y
            visibilidad.
          </p>
          <p>
            A continuación le mostramosunos ejemplos de los formatos de desarrollo mas comunes.
          </p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <li>Cartas de restaurantes</li>
          <li>Presentación de tu negocio</li>
          <li>Páginas de venta de ropa</li>
          <li>Comercios locales</li>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section id="about" class="about" #projects>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Desarrollo de Proyectos a Medida</h2>
        <p>Creación de proyectos desde cero completamente a medida</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>
            A diferencia de las soluciones genéricas, nuestro enfoque se basa en comprender a fondo su empresa y sus
            procesos, lo que nos permite crear un software que se adapte perfectamente a su operación. Puede
            <strong>optimizar
              sus flujos de trabajo, reducir costos innecesarios y mejorar la
              productividad</strong> de tu equipo con una sola web que englobe todo lo necesario.
          </p>
          <p>
            Todos los desarrollos incluyen un módulo de CRM en el cual poder incluir su clientela. Será la base de todos
            los módulos posteriores
          </p>

        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>En la configuración podrá encontrar ajustes que se completarán de forma recursiva con los modulos
            adyacente, siendo los principales:
          </p>
          <li>Personalización de plantillas</li>
          <li>Datos de facturación de la empresa</li>
          <li>Datos de contacto</li>
          <li>Personalización de tablas</li>
          <li>Ajustes de usuarios</li>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section id="about" class="about" #bills>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Software de Facturación Personalizado</h2>
        <p>Módulo de facturación</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>Un software de Facturación adaptado permite tener toda la gestión económica dentro de tu empresa, sin
            necesitad de
            tener una aplicación externa de terceros o incluso externalizar esta gestión.<br>
          </p>
          <p>Además este módulo incluye automatización en la gestión de creación y envios de facturas recurrentes o
            facturas extraordinarias.</p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <li>Automatizaciones en generación de facturas recurrentes</li>
          <li>Creación de PDF para facturas</li>
          <li>Exportaciones de facturas en ZIP</li>
          <li>Trazabilidad en cobros, pagos y devoluciones</li>
          <li>Envíos automáticos personalizados</li>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section id="about" class="about" #shipments>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Software de Gestión Logístico y Envíos</h2>
        <p>Módulo de gestión de albaranes y trazabilidad de hojas de ruta</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>
            Se puede llegar a <strong>producir un 40% más</strong> gracias a la
            facilidad de nuestras interfaces, la velocidad de carga y respuesta de la misma, las automatizaciones de
            envios y creaciones y la información constante.
          </p>

        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            En este módulo podrás guardar la información de albaranes, hojas de ruta, transportistas, vehículos y
            tarífas personalizadas, ademas de <strong>mas componentes hechos a medida</strong> .</p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="row" data-aos="fade-up">
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <mat-icon style="color: #47aeff; padding-right: 10px;">calendar_today</mat-icon>
            </div>
            <h3 style="padding-left: 10px">Disponibilidad</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <i style="color: #47aeff; padding-right: 10px; font-size: 24px;" class="fa fa-envelope"
                aria-hidden="true"></i>
            </div>
            <h3 style="padding-left: 10px">Integraciones de email</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <mat-icon style="color: #47aeff; padding-right: 10px;">directions_run</mat-icon>
            </div>
            <h3 style="padding-left: 10px">Componentes actualizados</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <mat-icon style="color: #47aeff; padding-right: 10px;">access_time</mat-icon>
            </div>
            <h3 style="padding-left: 10px">Carga de datos flexible</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <i style="color: #47aeff; padding-right: 10px; font-size: 24px;" class="fa fa-leanpub"
                aria-hidden="true"></i>
            </div>
            <h3 style="padding-left: 10px">Simple y efectivo</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <i style="color: #47aeff; padding-right: 10px; font-size: 24px;" class="fa fa-handshake-o"
                aria-hidden="true"></i>
            </div>

            <h3 style="padding-left: 10px">Desarrollo a medida</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <i style="color: #47aeff; padding-right: 10px; font-size: 24px;" class="fa fa-lock"
                aria-hidden="true"></i>
            </div>
            <h3 style="padding-left: 10px">Integridad</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <div style="width: 30px">
              <i style="color: #47aeff; padding-right: 10px; font-size: 24px;" class="fa fa-question"
                aria-hidden="true"></i>
            </div>
            <h3 style="padding-left: 10px">Resolución incidencias</h3>
          </div>
        </div>


      </div>
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-3 col-md-2 mt-4">
          <div class="icon-box mx-auto">
            <div style="width: 30px">
              <mat-icon style="color: #47aeff; padding-right: 10px;">add</mat-icon>
            </div>
            <h3 style="padding-left: 10px">Y muchos más...</h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->


  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg" #team>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Equipo</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/images/welcome/team/team-1.png" width="309" height="309" alt="">
              <div class="social">
                <a href="https://www.instagram.com/manumenendez_99/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manuel-menendez-iba%C3%B1ez/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Manuel Menéndez</h4>
              <span>Desarrollador fullstack, experto en integraciones de servidores PLESK</span>
              <span>certificado en Salesforce, Azure y Aws</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/images/welcome/team/team-2.jpg" width="309" height="309" alt="">
              <div class="social">
                <a href="https://www.instagram.com/rafytaa_/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rafaelruizfuente/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Rafael Ruíz</h4>
              <span>Desarrollador fullstack</span>
              <span>certificado en Azure y Aws</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing" #pricing>
    <div class="container">

      <div class="section-title">
        <h2>Precios</h2>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="zoom-in-right">
            <h3>Página de presentación wordpress</h3>
            <h4>150,00<sub>€</sub></h4>
            <ul>
              <li>Maquetado web</li>
              <li>Diseño de imagenes y logos</li>
              <li>Wordpress</li>
              <li class="na">Desarrollos a medida</li>
              <li class="na">Integraciones de modulos</li>
              <li class="na">Alojamiento</li>
              <li class="na">Mantenimiento del servidor</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box" data-aos="zoom-in">
            <h3>Pagina de presentación a medida</h3>
            <h4>300,00<sub>€</sub></h4>
            <ul>
              <li>Maquetado web</li>
              <li>Diseño de imagenes y logos</li>
              <li>Node.JS</li>
              <li>Desarrollos a medida</li>
              <li class="na">Integraciones de modulos</li>
              <li class="na">Alojamiento</li>
              <li class="na">Mantenimiento del servidor</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended" data-aos="zoom-in">
            <h3>Desarrollo personalizado</h3>
            <h4>500,00<sub>€</sub></h4>
            <ul>
              <li>Maquetado web</li>
              <li>Diseño de imagenes y logos</li>
              <li>Node.JS</li>
              <li>Desarrollos a medida</li>
              <li>Integraciones de modulos</li>
              <li>Alojamiento (250,00€ al año)</li>
              <li>Mantenimiento del servidor</li>
            </ul>
          </div>
        </div>

      </div>



    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq" #faq>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Cuál es el <strong>proceso de desarrollo</strong> de un proyecto a medida con su empresa?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Comienza con la toma de contacto y puesta en común del proyecto. A partir de ahí se detallan los
            requerimientos técnicos de la app y sus requerimientos. Después de tener toda la infraestructura montada,
            iniciariamos la fase de desarrollo, dejando para la solución final la de
            pruebas y presentación, todo esto ajustado a la idea inicial.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Cuál es el <strong>tiempo de entrega</strong> típico para un proyecto a medida y cómo gestionan los
            plazos?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Nuestro tiempo de entrega para proyectos a medida varía según la complejidad y el alcance de cada proyecto.
            Por lo general, trabajamos estrechamente con nuestros clientes para establecer plazos realistas y
            asegurarnos de que se cumplan. La duración de un proyecto puede oscilar desde unas pocas semanas hasta
            varios meses, dependiendo de los requisitos específicos.

          </p>
          <p>
            Gestionamos los plazos de manera eficiente mediante la utilización de metodologías de desarrollo agile, una
            comunicación constante con el cliente y la asignación adecuada de recursos. También realizamos un
            seguimiento regular del progreso del proyecto para garantizar que se mantenga dentro de los plazos
            acordados.
          </p>
        </div>

      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Qué <strong>tecnologías y lenguajes</strong> de programación utilizan en sus proyectos?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Nos gusta utilizar aquellas que sean eficaces y escalables, es decir, aquellas que ofrenzcan velocidad y
            seguridad y con las que se pueda ampliar sin miedo a perder recursos o rendimiento.
          </p>
        </div>

      </div><!-- End F.A.Q Item-->


      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Cómo puedo <strong>solicitar un presupuesto</strong> para un proyecto personalizado?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Justo debajo de esta pregunta adjuntamos un formulario de contacto en el que puedes preguntar sobre el tema
            que quieras
          </p>
        </div>
      </div><!-- End F.A.Q Item-->



    </div>
  </section><!-- End F.A.Q Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact" #newEmail>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contacta con nosotros</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-5 col-md-12" data-aos="fade-up">
          <div class="form-group">
            <input class="form-control" placeholder="Correo electrónico" data-rule="email" [formControl]="contact" />
            <div class="validate"></div>
          </div>
          <div class="form-group mt-1">
            <textarea class="form-control" rows="5" data-rule="required" data-msg="Please write something for us"
              placeholder="Mensaje" [formControl]="message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="text-center mt-2 mb-5"><button mat-flat-button color="primary" (click)="contactUs()"
              [disabled]="!contact.value || !message.value">Enviar mensaje</button></div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3 text-center">
          <!-- Grid column -->
          <div class="col-md-4">
            <img src="assets/images/welcome/hero.png" alt="" style="width: 200px; margin: 10%;">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-6">
            <!-- Links -->

            <h2 class="text-uppercase fw-bold mb-4">NINEGON
            </h2>
            <p><i class="fa fa-phone me-3"></i><i class="fa fa-whatsapp me-3"></i><strong>620 002 791 - Rafael</strong>
            </p>
            <p><i class="fa fa-phone me-3"></i><i class="fa fa-whatsapp me-3"></i><strong>686 754 161 - Manuel</strong>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4">
      &copy;{{year}} NINEGON | Todos los derechos reservados
    </div>
    <p></p>
  </footer>

</main><!-- End #main -->