<nav class="navbar navbar-expand-lg">

  <button class="navbar-toggler" style="margin-left: 15px" type="button" (click)="navbarOpen = !navbarOpen">
    <mat-icon>menu</mat-icon>
  </button>


  <div class="collapse navbar-collapse mt-2" [ngClass]="{ 'show': navbarOpen }"
    [ngClass.gt-md]="'d-flex justify-content-center'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(sobreNosotros)">Sobre nosotros</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(method)">Método de Trabajo</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(ourServices)">Servicios y Clientes</p>
      </li>
      <li class=" nav-item">
        <p class="nav-link styleNav" (click)="scroll(faq)">Preguntas frecuentes</p>
      </li>
      <li class="nav-item">
        <p class="nav-link styleNav" (click)="scroll(newEmail)">Contacto</p>
      </li>
    </ul>
  </div>
</nav>
<section id="hero" class="d-flex align-items-center min-vh-100" (mouseenter)="mouseIn = true"
  (mouseleave)="mouseIn = false"
  style="background-image: url('https://wallpapers.com/images/hd/white-abstract-hexagons-wshg1akmqzklnrmo.jpg'); background-size: auto; repeat: no-repeat;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">NINEGON</h1>
        <h2 data-aos="fade-up">Páginas web y desarrollos a medida.</h2>
        <!-- <div data-aos="fade-up" >
              <a class="btn-get-started scrollto" [routerLink]="'/clients'">Go to San Fran</a>
            </div> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" #image>
        <img src="assets/images/welcome/ninegonlogo.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<!-- <mat-card>hola</mat-card> -->
<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about" #sobreNosotros>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Sobre nosotros</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            Somos una empresa que se dedica a tiempo completo a la creación de <strong>páginas web y software a
              medida</strong>.
          </p>
          <p>
            Nos gusta trabajar siendo <strong>cercanos al cliente</strong>, porque creemos que una buena relación
            personal y de confianza hace que el trabajo y la comunicación mejore y sea más efectivo.<br>
          </p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            Trabajamos con las últimas tecnologías del mercado para asegurar la <strong>máxima accesibilidad, seguridad
              y productividad</strong> de nuestros desarrollos.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
          data-aos="fade-right">
          <img src="assets/images/welcome/services/webamedida.png" alt="" class="img-fluid">
        </div>

        <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-document-folder"></i>
                  <span data-toggle="counter-up">+4</span>
                  <p>Más de <strong>4 años</strong> de experiencia en el sector</p>
                </div>
              </div>
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-simple-smile"></i>
                  <span data-toggle="counter-up">+10</span>
                  <p>Más de <strong>10 clientes</strong> confian en nuestros servicios</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-award"></i>
                  <p>Varios <strong>premios</strong> obtenidos en competiciones y concursos
                  </p>
                </div>
              </div>
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-award"></i>
                  <p><strong>Certificaciones oficiales</strong> en nuestra formación para estar siempre mejorando
                    nuestro producto
                  </p>
                </div>
              </div>


            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Work method Section ======= -->
  <section class="services" #method>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Método de trabajo</h2>
        <p>Nos adaptamos a vosotros. Nos gusta empezar trabajando en la idea que tenéis, para darle forma y desarrollar
          los conceptos iniciales. <br /> Una vez hecho, comenzamos con a los pasos de estructura, desarrollo, pruebas
          y finalización del proyecto.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-paint-brush"></i></div>
            <h4 class="title">PLANIFICAMOS EL DISEÑO</h4>
            <p class="description"> Tenemos una primera reunión para comprender tus objetivos comerciales y los
              requisitos específicos del proyecto.</p>
            <p class="description"> Tras un intercambio de ideas para conseguir la mejor versión hacemos un diseño con
              el que os sintáis cómodos y se ajuste a la idea inicial.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-object-group"></i></div>
            <h4 class="title">MAQUETAMOS LA ESTRUCTURA</h4>
            <p class="description">Estudiamos la arquitectura para maquetar la creación de base de datos si fuese
              necesario, el diseño y la estructura de las páginas visuales, APIs para la conexión entre ambas, etc. para
              cumplir vuestras espectativas iniciales y sea lo mas robusto y consistente posible, sin fallas ni fugas de
              ningún tipo.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-cogs"></i></div>
            <h4 class="title">BACKEND, FRONTEND Y QA
            </h4>
            <p class="description">Nos encargamos que tanto el back si tuviera (base de datos, logica compleja...), como
              el front (parte visual) sean perfectos, pasando
              por un estricto control antes de entregarlo.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h4 class="title">Cobertura y soporte</h4>
            <p class="description">Damos soporte a nuestras aplicaciones y webs mediante el periodo acordado. Además,
              estaremos siempre dispuestos a resolver dudas tanto técnicas como de funcionamiento en cualquiera
              de
              nuestros servicios.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Work method Section -->


  <!-- ======= More Services Section ======= -->
  <section id="more-services" class="more-services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" (click)="scroll(web)">
          <div class="card"
            style='background-image: url("https://wellaggio.com/wp-content/uploads/2018/01/Wellaggio-diseno-web-valencia-Co%CC%81mo-seducir-a-tus-clientes-con-tu-pa%CC%81gina-web.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Diseño y Desarrollo Web</h5>

            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" (click)="scroll(projects)">
          <div class="card"
            style='background-image: url("https://www.comparapps.com/wp-content/uploads/2019/08/Como-Crear-Una-Pagina-Web.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Desarrollo de Proyectos a Medida</h5>
            </div>
          </div>

        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" (click)="scroll(bills)">
          <div class="card" style='background-image: url("assets/images/welcome/services/facturacion.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Software de Facturación Personalizado</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4" (click)="scroll(shipments)">
          <div class="card"
            style='background-image: url("https://www.scmlogistica.es/wp-content/uploads/Automatizar-un-almace%CC%81n.jpg");'
            data-aos="fade-up">
            <div class="card-body">
              <h5 class="card-title">Software de Gestión Logístico y Envíos</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End More Services Section -->


  <section id="about" class="about" #web>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Diseño y Desarrollo Web</h2>
        <p>Desde el diseño de páginas web básicas, como landing pages, hasta webs más complejas, como webs para empresas
          etc.</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>
            Tener <strong>presencia en internet</strong> hoy en dia es muy importante para aumentar tus ventas y
            visibilidad, ya que la
            mayoría de nuevos clientes vendrán de forma telemática.
          </p>
          <p>
            A continuación os dejamos unos ejemplos de las landing pages que más se suelen pedir.
          </p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <li>Cartas de restaurantes</li>
          <li>Presentación de tu negocio</li>
          <li>Páginas de venta de ropa</li>
          <li>Comercios locales</li>
          <li>Etc.</li>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section id="about" class="about" #projects>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Desarrollo de Proyectos a Medida</h2>
        <p>Creación de proyectos desde cero completamente a medida</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>
            A diferencia de las soluciones genéricas, nuestro enfoque se basa en comprender a fondo tu empresa y tus
            procesos, lo que nos permite crear un software que se adapte perfectamente a tu operación. Puedes
            <strong>optimizar
              tus flujos de trabajo, reducir costos innecesarios y mejorar la
              productividad</strong> de tu equipo con una sola web que englobe todo lo necesario.
          </p>

        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            No importa el tamaño o la complejidad de tu empresa ni del proyecto, nuestro equipo se encargará de tomar
            los requerimientos y de desarrollar y escalar tu idea al siguiente nivel.
          </p>
          <p>Haz que tu negocio destaque en un mercado competitivo con soluciones de software a medida.
          </p>
          <p> Si quieres saber más, ponte en contacto haciendo <span class="clickHereToRedirect"
              (click)="scroll(newEmail)">click aquí.</span></p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section id="about" class="about" #bills>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Software de Facturación Personalizado</h2>
        <p>Este es uno de los muchos proyectos que podemos construir. Hemos tenido varios clientes a los que hemos
          creado su facturación adaptada desde 0.</p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>Un software de Facturación adaptado permite tener toda la gestión dentro de tu empresa, sin necesitad de
            tener una aplicación externa de terceros o que se encargue otra empresa de toda esa lógica.<br>
          </p>
          <p>Crearemos un <strong>software totalmente adaptado y a medida</strong>, donde podrás conectar tu inventario,
            tus proyectos,
            tus bases de datos, tu CRM... garantizando que sea seguro, fiable y fácil de
            usar.</p>
        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>Tendrás infinidad de recursos a tu disposición como</p>
          <li>Automatizaciones para ahorrar tiempo</li>
          <li>Creación facturas electronica e informes en pdf</li>
          <li>Envío de correos automáticos</li>
          <li>Trazabilidad de cualquier cobro o pago</li>
          <li>Desde ordenador y móvil</li><br>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <section id="about" class="about" #shipments>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Software de Gestión Logístico y Envíos</h2>
        <p>Otro de los proyectos que muchos de nuestros clientes utilizan a diario mejorando su producción más de un
          40%. </p>
      </div>

      <div class="row content">
        <div class="col-lg-6 mb-2" data-aos="fade-up">
          <p>
            Acompañando al párrafo anterior, se puede llegar a <strong>producir un 40% más</strong> gracias a la
            facilidad de nuestras
            interfaces, la velocidad de carga y respuesta de la misma, de los automatismos y de tenerlo todo
            informatizado.
          </p>

        </div>
        <div class="col-lg-6" data-aos="fade-up">
          <p>
            Gracias a este ahorro en costes y tiempo, te aseguramos que se aumenta el rendimiento y/o producción de la
            empresa en tiempo record.</p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <!-- ======= Features Section ======= -->
  <section id="features" class="features" #ourServices>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Tenemos gran variedad de servicios que están incluidos al trabajar con nosotros</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <mat-icon style="color: #ffa76e; padding-right: 10px;">calendar_today</mat-icon>
            <h3 style="padding-left: 10px">Servicios de 24h los 365 días del año</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i style="color: #4233ff; padding-right: 10px; font-size: 24px;" class="fa fa-envelope"
              aria-hidden="true"></i>

            <h3 style="padding-left: 10px">Envío de emails</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <mat-icon style="color: #e361ff; padding-right: 10px;">directions_run</mat-icon>
            <h3 style="padding-left: 10px">Páginas fluidas</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <mat-icon style="color: #11dbcf; padding-right: 10px;">access_time</mat-icon>
            <h3 style="padding-left: 10px">Sin tiempos de carga</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <mat-icon style="color: #b2904f; padding-right: 10px;">hourglass_full</mat-icon>
            <h3 style="padding-left: 10px">Tiempos de entrega rápidos</h3>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i style="color: #47aeff; padding-right: 10px; font-size: 24px;" class="fa fa-instagram"
              aria-hidden="true"></i>

            <h3 style="padding-left: 10px">Redirección a tus redes sociales</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i style="color: #77f303; padding-right: 10px; font-size: 24px;" class="fa fa-lock" aria-hidden="true"></i>
            <h3 style="padding-left: 10px">Seguridad</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i style="color: #b20969; padding-right: 10px; font-size: 24px;" class="fa fa-question"
              aria-hidden="true"></i>
            <h3 style="padding-left: 10px">Resolución incidencias</h3>
          </div>
        </div>


      </div>
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-2 col-md-2 mt-4">
          <div class="icon-box mx-auto">
            <mat-icon style="color: #29cc61; padding-right: 10px;">add</mat-icon>
            <h3 style="padding-left: 10px">Y muchos más...</h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio p0">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Clientes</h2>
        <p>Algunos de los clientes con los que hemos trabajado o seguimos dando servicio.</p>
      </div>

      <div class="row no-gutters text-center">
        <div class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block aos-init aos-animate" data-aos="fade-up"
          href="assets/images/welcome/clients/codere.jpg" data-fancybox="gal">
          <img src="assets/images/welcome/clients/codere.jpg" alt="Image" class="img-fluid img-clients">
        </div>
        <div class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block aos-init aos-animate" data-aos="fade-up"
          href="assets/images/welcome/clients/trivago.webp" data-fancybox="gal">
          <img src="assets/images/welcome/clients/trivago.webp" alt="Image" class="img-fluid img-clients">
        </div>
        <div class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block aos-init aos-animate" data-aos="fade-up"
          href="assets/images/welcome/clients/loobhotel.png" data-fancybox="gal">
          <img src="assets/images/welcome/clients/loobhotel.png" alt="Image" class="img-fluid img-clients">
        </div>



        <div class="col-6 col-md-6 col-lg-4 col-xl-3 gal-item d-block aos-init aos-animate" data-aos="fade-up"
          href="assets/images/welcome/clients/sanfran.jpg" data-fancybox="gal">
          <img src="assets/images/welcome/clients/sanfran.jpg" alt="Image" class="img-fluid img-clients">
        </div>

      </div>


    </div>

  </section><!-- End Portfolio Section -->

  <div class="text-center mt-2 mb-5"><button mat-flat-button color="primary" (click)="scroll(newEmail)">¡Quiero ser el
      próximo cliente!</button></div>

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg" *ngIf="false">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/images/welcome/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/images/welcome/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/images/welcome/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="assets/images/welcome/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing" *ngIf="false">
    <div class="container">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="zoom-in-right">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended" data-aos="zoom-in">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in-left">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>



    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq" #faq>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Cuál es el <strong>proceso de desarrollo</strong> de un proyecto a medida con su empresa?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Comienza con la toma de contacto y puesta en común de la idea / proyecto. A partir de ahí se detallan los
            requerimientos técnicos de la app y su lógica. Después, inicia la fase de desarrollo y finalmente la de
            pruebas y presentación, para ajustar perfectamente el producto final a la idea inicial.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Cuál es el <strong>tiempo de entrega</strong> típico para un proyecto a medida y cómo gestionan los
            plazos?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Nuestro tiempo de entrega para proyectos a medida varía según la complejidad y el alcance de cada proyecto.
            Por lo general, trabajamos estrechamente con nuestros clientes para establecer plazos realistas y
            asegurarnos de que se cumplan. La duración de un proyecto puede oscilar desde unas pocas semanas hasta
            varios meses, dependiendo de los requisitos específicos.

          </p>
          <p>
            Gestionamos los plazos de manera eficiente mediante la utilización de metodologías de desarrollo ágil, una
            comunicación constante con el cliente y la asignación adecuada de recursos. También realizamos un
            seguimiento regular del progreso del proyecto para garantizar que se mantenga dentro de los plazos
            acordados.
          </p>
        </div>

      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Qué <strong>tecnologías y lenguajes</strong> de programación utilizan en sus proyectos?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Nos gusta utilizar aquellas que sean eficaces y escalables, es decir, aquellas que ofrenzcan velocidad y
            seguridad y con las que se pueda ampliar sin miedo a perder recursos o se ralentice.
          </p>
        </div>

      </div><!-- End F.A.Q Item-->


      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>¿Cómo puedo <strong>solicitar un presupuesto</strong> para un proyecto personalizado?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Justo debajo de esta pregunta adjuntamos un formulario de contacto en el que puedes preguntar sobre el tema
            que quieras
          </p>
        </div>
      </div><!-- End F.A.Q Item-->



    </div>
  </section><!-- End F.A.Q Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact" #newEmail>
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contacta con nosotros</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-5 col-md-12" data-aos="fade-up">
          <div class="form-group">
            <input class="form-control" placeholder="Correo electrónico" data-rule="email" [formControl]="contact" />
            <div class="validate"></div>
          </div>
          <div class="form-group mt-1">
            <textarea class="form-control" rows="5" data-rule="required" data-msg="Please write something for us"
              placeholder="Mensaje" [formControl]="message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="text-center mt-2 mb-5"><button mat-flat-button color="primary" (click)="contactUs()"
              [disabled]="!contact.value || !message.value">Enviar mensaje</button></div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3 text-center">
          <!-- Grid column -->
          <div class="col-md-4">
            <img src="assets/images/welcome/ninegonlogo.png" alt="" style="width: 200px; margin: 10%;">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-6">
            <!-- Links -->

            <h2 class="text-uppercase fw-bold mb-4">NINEGON
            </h2>
            <p> <i class="fa fa-envelope me-3"></i><strong>rafael.ruizfuente@hotmail.com</strong> </p>
            <p><i class="fa fa-phone me-3"></i><i class="fa fa-whatsapp me-3"></i><strong>620 002 791 - Rafael</strong>
            </p>
            <p><i class="fa fa-phone me-3"></i><i class="fa fa-whatsapp me-3"></i><strong>686 754 161 - Manuel</strong>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4">
      &copy;{{year}} NINEGON | Todos los derechos reservados
    </div>
    <p></p>
  </footer>

</main><!-- End #main -->